<a href="https://colab.research.google.com/github/imshubhamkore/Treue-Technologies/blob/main/TECHNOHACHS_TASK2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import all required libaries
import pandas as pd
import numpy as np

In [3]:
#READ THE DATSET: Here I ve used Titanic dataset
data = pd.read_csv("titanic.csv")

In [4]:
#First 5rows of dataset
data. head()

,PassengerId,Survived,Pclass,Lname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#Check for data type
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Lname           object
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
# Identify categorical columns
categorical_columns = data.select_dtypes(include=['object', 'category']).columns.tolist()

# Identify numerical columns
numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [7]:
print("Categorical columns:")
print(categorical_columns)

print("Numerical columns:")
print(numerical_columns)

Categorical columns:
['Lname', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']
Numerical columns:
['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']

In [8]:
columns_used=['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
selected_columns = data.loc[:, columns_used]

In [9]:
selected_columns. head(5)

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

### Now we ll perform statistics for numerical column i;e selected_columns
### lets check for mean for each column

In [11]:
column_means = selected_columns.mean()
print("Mean for each column:" ,column_means )

Mean for each column: PassengerId    78.500000
Survived        0.346154
Pclass          2.423077
Age            28.141508
SibSp           0.615385
Parch           0.397436
Fare           28.109587
dtype: float64

In [12]:
#lets check for mode for each column
column_modes = selected_columns.mode().iloc[0]
print("Modes for each column:" ,column_modes )

Modes for each column: PassengerId     1.00
Survived        0.00
Pclass          3.00
Age            21.00
SibSp           0.00
Parch           0.00
Fare            8.05
Name: 0, dtype: float64

In [13]:
#lets check for median for each column
column_median = selected_columns.median()
print("Median for each column:" ,column_median )

Median for each column: PassengerId    78.5000
Survived        0.0000
Pclass          3.0000
Age            26.0000
SibSp           0.0000
Parch           0.0000
Fare           14.4542
dtype: float64

In [14]:
#lets check for standard deviation for each column
column_std_deviation = selected_columns.std()
print("Standard Deviation for each column:" ,column_std_deviation )

Standard Deviation for each column: PassengerId    45.177428
Survived        0.477275
Pclass          0.795459
Age            14.613880
SibSp           1.056235
Parch           0.870146
Fare           39.401047
dtype: float64

In [15]:
#check for statistics for each numeric column all together.
selected_columns.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,156.000000,156.000000,156.000000,126.000000,156.000000,156.000000,156.000000
mean,78.500000,0.346154,2.423077,28.141508,0.615385,0.397436,28.109587
std,45.177428,0.477275,0.795459,14.613880,1.056235,0.870146,39.401047
min,1.000000,0.000000,1.000000,0.830000,0.000000,0.000000,6.750000
25%,39.750000,0.000000,2.000000,19.000000,0.000000,0.000000,8.003150
50%,78.500000,0.000000,3.000000,26.000000,0.000000,0.000000,14.454200
75%,117.250000,1.000000,3.000000,35.000000,1.000000,0.000000,30.371850
max,156.000000,1.000000,3.000000,71.000000,5.000000,5.000000,263.000000

In [16]:
# now we ll take original dataset and check for more stats data
data. head(4)

,PassengerId,Survived,Pclass,Lname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S

In [17]:
data['Sex'].unique() # SO Here we have two unique variables i ;e male & female

array(['male', 'female'], dtype=object)

In [18]:
data['Survived'].unique() # also we have two varaiables i;e 0 & 1

array([0, 1])

*** so from above we know that for sex & survived have only two variables, the we can check for groupby mean,for each following ***

In [19]:
data[["Sex", "Age"]].groupby("Sex").mean()

              Age
Sex
female  24.468085
male    30.326962

In [20]:
data[["Survived", "Age"]].groupby("Survived").mean()

                Age
Survived
0         29.358824
1         25.617805

In [21]:
data.groupby(["Sex", "Survived"])["Age"].mean()

Sex     Survived
female  0           20.633333
        1           26.265625
male    0           31.228571
        1           23.314444
Name: Age, dtype: float64